@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

body {
  font-family: 'Mulish', sans-serif;
}

.header {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 150px; 
  height: auto;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 20px;
  padding: 20px;
  height: 100vh;
}

.left-panel {
  flex: 0.5; 
  padding: 24px 28px;
  background-color: #1E88E5;
  border-radius: 20px;
  height: 732px;
  width: 280px;
  text-align: center;
  color: #f0f0f0;
  font-weight: bold;
  font-size: large;
  font-family: 'Mulish', sans-serif;
}

.position {
  font-size: 16px;
  margin-top: -20px ;

}

.logout {
  position: relative;
  margin-top: 280px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 60px;
}

.right-panel {
  flex: 3; 
  font-family: 'Mulish', sans-serif;
  color: #0D3D66; /* Set text color for the right panel */
}

.greeting {
  text-align: left;
  margin-bottom: 0px;
}

.greeting h1 {
  font-size: 40px; 
  font-weight: bold; 
  margin: 0; 
  margin-left: 80px;
}

.greeting p {
  font-size: 16px; 
  margin: 0;
  margin-left: 80px;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  justify-content: center;
  padding: 70px;
}

.card {
  width: 80px;
  height: 28px;
  border-radius: 100%;
  margin-bottom: 10px;
  margin-top: 50px;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  color: #0D3D66; /* Set text color */
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: auto;
  height: auto;
  margin: auto;
}

.footer {
  background-color: #0D3D66;
  padding: 1px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #f0f0f0; /* Footer text color */
}
