
  <div class="container">
    <div class="left-panel">
      <img src="../../assets/Frame 79 (1).png" alt="Logo" class="logo">
      <img src="../../assets/dir.jpg" alt="Avatar" class="avatar">
      <h2>Dr. Richard Okoye</h2>
      <p>Director</p>

      <!-- <button mat-button color="warn">Logout</button> -->
      <img src="../../assets/images/Button.jpg" alt="logout" class="logout">

    </div>
  
    <!-- Right Panel: Icon Container -->
    <div class="right-panel">
        <div class="greeting">
          <h1>Hello, Richard</h1>
          <p>What would you like to do today?</p>
        </div>
    <div class="right-panel">
      <div class="icon-container">
        <mat-card (click)="navigate('https://staff.drsavealife.com')" class="card">
          <img src="../../assets/Frame 162980.png">
          <h2 class="title">Administrator</h2>
        </mat-card>
        <mat-card (click)="navigate('https://nightly.clinicals.drsavealife.com/admissions-v2')" class="card">
            <img src="../../assets/images/admission.png">
            <h2 class="title">Admission</h2>
        </mat-card>
        <mat-card (click)="navigate('https://nightly.clinicals.drsavealife.com')" class="card">
            <img src="../../assets/images/antenatal.png">
            <h2 class="title">Antenatal</h2>
        </mat-card>
        <mat-card (click)="navigate('https://care-admin.drsavealife.com')" class="card">
            <img src="../../assets/images/cadmin.png">
            <h2 class="title">CareAdmin</h2>
        </mat-card>
        <mat-card (click)="navigate('https://drsavealife.com')" class="card">
            <img src="../../assets/images/app.png">
            <h2 class="title">CareApp</h2>
        </mat-card>
        <mat-card (click)="navigate('https://nightly.clinicals.drsavealife.com')" class="card">
            <img src="../../assets/images/clinicals.png">
            <h2 class="title">Clinicals</h2>
        </mat-card>
        <mat-card (click)="navigate('https://connect.drsavealife.com')" class="card">
            <img src="../../assets/images/connect.png">
            <h2 class="title">Connect</h2>
        </mat-card>
        <mat-card (click)="navigate('https://finance.drsavealife.com')" class="card">
            <img src="../../assets/images/finance.png">
            <h2 class="title">Finance</h2>
        </mat-card>
        <mat-card (click)="navigate('https://records.drsavealife.com/immunization')" class="card">
            <img src="../../assets/images/immuni.png">
            <h2 class="title">Immunization</h2>
        </mat-card>
        <mat-card (click)="navigate('https://care-admin.drsavealife.com/kitchen/orders')" class="card">
            <img src="../../assets/images/kitcehn.png">
            <h2 class="title">Kitchen</h2>
        </mat-card>
        <mat-card (click)="navigate('https://lab.drsavealife.com')" class="card">
            <img src="../../assets/images/lab.png">
            <h2 class="title">Laboratory</h2>
        </mat-card>
        <mat-card (click)="navigate('https://pharmacy.drsavealife.com')" class="card">
            <img src="../../assets/images/pharma.png">
            <h2 class="title">Pharmacy</h2>
        </mat-card>
        <mat-card (click)="navigate('https://nightly.clinicals.drsavealife.com')" class="card">
            <img src="../../assets/images/procedure.png">
            <h2 class="title">Procedure</h2>
        </mat-card>
        <mat-card (click)="navigate('https://lab.drsavealife.com')" class="card">
            <img src="../../assets/images/rad.png">
            <h2 class="title">Radiology</h2>
        </mat-card>
        <mat-card (click)="navigate('https://records.drsavealife.com')" class="card">
            <img src="../../assets/images/records.png">
            <h2 class="title">Records</h2>
        </mat-card>
        <mat-card (click)="navigate('https://connect.drsavealife.com')" class="card">
            <img src="../../assets/images/connect.png">
            <h2 class="title">SALConnect</h2>
        </mat-card>
        <mat-card (click)="navigate('https://staff.drsavealife.com/staff')" class="card">
            <img src="../../assets/images/staff.png">
            <h2 class="title">StaffAdmin</h2>
        </mat-card>
        <mat-card (click)="navigate('https://store-admin.drsavealife.com')" class="card">
            <img src="../../assets/images/store.png">
            <h2 class="title">SALStore</h2>
        </mat-card>
  
      </div>
    </div>
  </div>
  <!-- <footer class="footer">
    <p>Powered by SaveALife TechHub</p>
  </footer> -->