
  <div class="container">
    <div class="left-panel">
      <img src="../../assets/Frame 79 (1).png" alt="Logo" class="logo">
      <img src="../../assets/dir.jpg" alt="Avatar" class="avatar">
      <h2>Dr. Richard Okoye</h2>
      <p>Director</p>

      <button mat-button color="warn">Logout</button>
    </div>
  
    <!-- Right Panel: Icon Container -->
    <div class="right-panel">
        <div class="greeting">
          <h1>Hello, Richard</h1>
          <p>What would you like to do today?</p>
        </div>
    <div class="right-panel">
      <div class="icon-container">
        <mat-card (click)="navigate('https://staff.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/Category Comp.jpg" alt="Admin">
        </mat-card>
        <mat-card (click)="navigate('https://nightly.clinicals.drsavealife.com/admissions-v2')" class="icon-card">
          <img mat-card-image src="../../assets/images/admission.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://nightly.clinicals.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/antenatal.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://care-admin.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/careadmin.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/careapp.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://nightly.clinicals.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/clinicals.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://connect.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/connect.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://finance.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/finance.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://records.drsavealife.com/immunization')" class="icon-card">
          <img mat-card-image src="../../assets/images/Immuni.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://care-admin.drsavealife.com/kitchen/orders')" class="icon-card">
          <img mat-card-image src="../../assets/images/kitchen.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://lab.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/lab.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://pharmacy.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/pharmacy.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://nightly.clinicals.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/procedure.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://lab.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/radiology.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://records.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/records.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://connect.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/connect.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://staff.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/staff.jpg" alt="Facebook">
        </mat-card>
        <mat-card (click)="navigate('https://store-admin.drsavealife.com')" class="icon-card">
          <img mat-card-image src="../../assets/images/store.jpg" alt="Facebook">
        </mat-card>
  
      </div>
    </div>
  </div>
  <!-- <footer class="footer">
    <p>Powered by SaveALife TechHub</p>
  </footer> -->